* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dimensiones{
  max-width: 1400px;
  margin: 0 auto;
}

body.isDark {
  background-color: #2b2b2b;
  color: #ffffff;
}

:root {
  --color-esp: #f072e9;
  --fondo-section: rgba(160, 158, 158, 0.26);
}

header {
 
  height: 12vh;

  z-index: 200;
  width: 100%;
 
}
.close,.hamb {
  cursor: pointer;
  display: none;
  transition: 0.4s;
}
header .container-head {
  font-size: 30px;
  color: var(--color-esp);
}
header nav {
  min-width: 105px;
 
}




header nav a {
  color: white;
  padding-left: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
header nav a:hover {
  color: var(--color-esp);
  transition: .5s;
}
header .contacto a {
  text-decoration: none;
  margin: 0 7px;
  font-size: 18px;
}

header div .cont-mode i{
    font-size: 15px;
}



/*-------------footer-------------*/
footer {
  height: 100%;
  background: rgb(51, 51, 51);
}
footer p {
  margin: 15px 0;
  font-size: 20px;
}

footer .container-footer a {
  font-size: 28px;
  margin: 0 10px;
}

main .banner {

   background-image: url(../public/file/Agustin\ haag\ \(1\).png); 
   height: 100%;
   display: flex;
   flex-direction: column;
   
   background-size: cover;
   background-position: center;
   color: white;
   position: relative;
   align-items: center;
}
.banner::before {
  content: "";
  background: rgba(37, 37, 37, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

main .banner .container-banner h3 {
  margin: 155px 0 35px 0;
  font-size: 1.8rem;
  font-weight: normal;
}
main .banner .container-banner span p {
  font-size: 38px;
  word-spacing: 10px;
  margin: 30px 0;
  min-height: 20vh;
}
main .banner .container-banner span p  i{
   color: var(--color-esp);
}
main .banner .container-banner .typed-cursor{
  display: none;
}
main .banner .container-banner p:nth-child(3) {
  word-spacing: 5px;
  font-size: 22px;
  margin-bottom: 65px;
}
main .banner a {
  border: 2px solid white;
 
  max-width: 145px;
  border-radius: 50px;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
main .banner a:hover {
  cursor: pointer;
  background: var(--color-esp);
  transition: 0.4s;
}
main .info {
  margin-bottom: 30px;
}
main .info .perfil {
  width: 34%;
  background: gainsboro;
  border-radius: 15px;
  margin: 80px 50px;
  min-height: 200px;
  max-height: 400px;
  min-width: 250px;
}
main .info .perfil img {
  width: 85%;
  height: 90%;
}
main .info .container-info {
  width: 65%;
  margin: 77px 70px 0 0;
}
main .info .container-info h3 {
  font-size: 30px;
  font-weight: normal;
  text-decoration: 3px underline rgb(129, 129, 129);
  text-underline-offset: 5px;
  margin-bottom: 20px;
}
main .info .container-info p:nth-child(2) {
  font-size: 40px;
  font-weight: 600;
  word-spacing: 4px;
  margin-bottom: 20px;
}
main .info .container-info p label {
  color: var(--color-esp);
}
main .info .container-info p:nth-child(3) {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 400;
}
main .info .container-info p:nth-child(4) {
  font-size: 21px;
  
  width: 95%;
  word-spacing: 3px;
  margin-bottom: 40px;
  line-height: 33px;
}
main .info .container-info p span {

  font-weight: 600;
}
main .info .container-info .container-btn-info a {
  text-decoration: none;
  
  color: #161616;
  border-radius: 35px;
}
main .info .container-info .container-btn-info a:hover {
  background: var(--color-esp);
  color: white;
  transition: 0.4s;
}
main .services {
  background: var(--fondo-section);
}
main .services h2 {
  text-decoration: 3px underline rgb(160, 160, 160);
  text-underline-offset: 5px;
  text-transform: uppercase;
  
  margin-bottom: 25px;
}

main .services .container-services .gral {
  width: 30%;
  height: 100%;
  min-height: 355px;
  margin: 15px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.primero{
  background: white;
}
.segundo{
 background: #2b2b2b;
}
main .services .container-services .gral .icon {
  margin-top: 25px;
  font-size: 30px;
  color: rgb(180, 176, 176);
}
main .services .container-services .gral h4 {
  font-size: 20px;
  text-transform: uppercase;

}
main .services .container-services .gral span {
  border: 1px solid rgb(201, 201, 201);
  width: 20%;
  margin-bottom: 20px;
}
main .services .container-services .gral p:nth-child(3) {
  color: rgb(27, 27, 27);
  font-size: 17px;
  margin-bottom: 20px;
  text-align: center;
  word-spacing: 3px;
}
main .services .container-services .gral p:nth-child(4) {
  color: var(--color-esp);
  text-align: center;
  margin-bottom: 18px;
}
main .services .container-services .gral:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.712);
}
main .services .container-services .gral p:nth-child(5) {
  text-align: center;
  
  margin-bottom: 25px;
  width: 70%;
}
main .services .container-services .gral p:nth-child(6) {
  text-align: center;
  width: 90%;
}
main .habilidades {
  background-size: cover !important;
  background: linear-gradient(rgba(165, 47, 159, 0.664), rgba(24, 12, 12, 0.8)),
     url(../public/file/fondohab.jpg); 
  padding: 80px 0 40px 0;
  background-position: center center;
}

main .habilidades h2 {
  color: white;
  font-size: 20px;
  text-decoration: 2px underline rgb(160, 160, 160);
  text-underline-offset: 3px;
  margin-bottom: 40px;
}

main .container-skill .container-hab {
  width: 50%;
  margin: 20px auto;
  min-width: 200px;
}
main .container-skill .container-hab .skill {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 19px;
}
main .container-skill .container-hab .skill p > span {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 10px;
}
main .container-skill .container-hab .barra {
  width: 100%;
  height: 5px;
  background: gray;
  margin: 10px 0;
}
.progreso1,
.progreso2,
.progreso3,
.progreso4 {
  background: white;
}
.progreso2,
.progreso3 {
  width: 85%;
  height: 5px;
}
.progreso1 {
  width: 90%;
  height: 5px;
  animation: progreso1 2s forwards;
}
.progreso2 {
  animation: progreso2 2s forwards;
}
.progreso3 {
  animation: progreso3 2s forwards;
}
.progreso4 {
  width: 70%;
  height: 5px;
  animation: progreso4 2s forwards;
}
/*-----------Animaciones----------*/
@keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes progreso4 {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

main .proyects h2 {
  text-align: center;
  font-size: 22px;
  text-decoration: 2px underline rgb(160, 160, 160);
  text-underline-offset: 3px;
  margin-bottom: 20px;
}

main .proyects .contenedor-indicadores .indicadores {
  margin-right: 10px;
}
main .proyects .contenedor-indicadores .indicadores button {
  background: rgb(100, 100, 100);
  height: 4px;
  width: 13px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}
main .proyects .contenedor-indicadores .indicadores button:hover,
main .proyects .contenedor-indicadores .indicadores button.activo {
  background: var(--color-esp);
}

main .proyects .contenedor-principal .flecha-izquierda,
main .proyects .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgb(0, 0, 0, 0.3);
  font-size: 40px;
  height: 38.5%;
  top: calc(50% -25%);
  line-height: 40px;
  width: 45px;
  color: white;
  cursor: pointer;
  z-index: 300;
  transition: 0.3s;
}

main .proyects .contenedor-principal .flecha-izquierda:hover,
main .proyects .contenedor-principal .flecha-derecha:hover {
  background: rgb(0, 0, 0, 0.8);
}

main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto {
  min-width: 20%;
  transition: 1s ease all;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto:hover {
  z-index: 100;
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: center;
  transition: 1s;
  border-radius: 10px;
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .left:hover {
  z-index: 100;
  transform: scale(1.1);
  transform-origin: left;
  transition: 1s;
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto
  img {
  
  max-height: 238px;
  filter: grayscale(1);
  transition: 0.5s;
  vertical-align: top;
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto:hover
  img {
  filter: grayscale(0);
  border-radius: 10px;
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto
  .info-proyecto {
 
  background: rgba(0, 0, 0, 0.733);
  color: var(--color-esp);
 

  bottom: -40px;
  transition: 0.5s;
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto
  .info-proyecto
  h4 {
  padding-bottom: 5px;
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto
  .info-proyecto
  p {
  font-size: 13px;
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto:hover
  .info-proyecto {
  opacity: 1;
  bottom: 0px;
  border-radius: 0 0 10px 10px;
}
main .form {
  
  background: var(--fondo-section);

}
main .form h2, main .form .sendTrue h3 {
  margin: 70px 0 20px 0;
  
  text-decoration: 2px underline rgb(170, 170, 170);
  text-underline-offset: 3px;
  font-size: 22px;
}
main .form .sendTrue{

  min-height: 30vh;
 
}

main .form .sendTrue .container-btn-form button{

  
  border-radius: 20px;
}


main .form form .container-input .container-small {
  width: 50%;
  margin-bottom: 10px;
}
main .form form .container-input .container-small input,
main .form form > .container-check input {
  width: 100%;
  padding: 15px 0 15px 5px;
  outline: none;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 15px;
}

main .form form .container-input .container-small:nth-child(1) {
  margin-right: 18px;
}
main .form form .container-check {
  width: 100%;
  margin-bottom: 10px;
}
main .form form .container-check textarea {
  outline: none;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 15px;
  height: 30vh;
  width: 100%;
  resize: none;
  padding: 8px 0 0 5px;
}
main .form form .container-check textarea::placeholder, main .form form .container-input .container-small input::placeholder, main .form form .container-check input::placeholder{
  padding-left: 4px;
}

main .form form .container-btn-form button {
 
  border-radius: 20px;
}
main .form form .container-btn-form button:hover, main .form .sendTrue .container-btn-form button:hover {
  transition: 0.4s;
  cursor: pointer;
  background: var(--color-esp);
  color: white;

}
.span-error{
  color: red;
}
.error{
   border: 1px solid red !important;
}
.cont-github{

  
  padding-top: 90px;
 

}

main .formdark .container-input .container-small input, main .formdark .container-check input, main .formdark .container-check textarea{
  background: #919191;
  color: white;
}

main .formdark input::placeholder, main .formdark textarea::placeholder{
  color: #2b2b2b;
}

.cont-github .cont-gral .cont-img-git{
  background-color: gainsboro ;
 
  margin-right: 10px;
  border-radius: 4px;
 
  
}
.cont-github .cont-gral .cont-img-git img{
  
    border-radius: 10px;
}
.cont-github  .cont-info h4{
  font-weight: normal;
  font-size: 30px;
 
}
.cont-github  .cont-info p{
  margin-top:40px ;
}
.cont-github  .cont-info p >a{
  text-decoration: none;
}
.cont-github  .cont-info  span{
  text-decoration: 2px underline rgb(160, 160, 160) ;
  text-underline-offset: 3px ;
  margin-right: 3px;
  font-weight: 600;
}
.cont-github .cont-btn-git{
  width: 32%;
 
}
.cont-github .cont-btn-git .git{
 
  color: rgb(36, 36, 36);
  border: 1px solid var(--color-esp);
  text-decoration: none;

  border-radius: 20px;
}
.cont-github .cont-btn-git .git:hover{
  background-color: var(--color-esp);
  color: white;
}
.cont-github .cont-btn-git .linkedin{

  color: rgb(36,36,36);
  border: 1px solid rgb(20, 99, 190);
  text-decoration: none;
  width: 28%;
  border-radius: 20px;
}
.cont-github .cont-btn-git .linkedin:hover{
  background-color: rgb(20, 99, 190);
  color: white;
}
@media (max-width: 790px) {
  .hamb,
  .close {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 17px;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  nav a > span {
    width: 6px;
    height: 6px;
    margin-left: 8px;
    border-radius: 10px;
    background: white;
    display: inline-block;
  }
  header .hamb {
    position: relative;
    right: 10px;
    order: 1 !important;
  }
  .contacto {
    display: none;
  }
  header nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: initial !important;
    background: rgb(0, 0, 0);
    top: 0;
    right: 0;
    text-align: right;
    z-index: 300;
    padding: 60px 20px 0 20px;
    transform: translateX(100%);
    visibility: hidden;
  }


  nav.visible {
    transform: translateX(0);
    visibility: visible;
    transition: 0.6s;
  }
  header nav a { 
    padding: 30px 0;
    display: block;
    text-transform: capitalize;
  }

  main .info {
    flex-direction: column;
    align-items: center;
  }
  main .info .perfil {
    width: 50%;
    height: 300px;
  }
  main .info .container-info {
    width: 100%;
    margin-top: 40px;
    padding: 0 0 0 80px;
  }
  main .info .container-info .container-btn-info {
    display: flex;
    justify-content: center;
  }
  main .services .container-services {
    flex-direction: column;
  }
  main .services .container-services .gral {
    width: 80%;
  }
  main .proyects .container-proyect {
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  main .proyects .contenedor-indicadores,
  main .proyects .contenedor-principal .flecha-izquierda,
  main .proyects .contenedor-principal .flecha-derecha {
    display: none;
  }
  main
    .proyects
    .contenedor-principal
    .contenedor-carrusel
    .container-proyect
    .proyecto {
    width: 90%;
    margin: 20px 0;
    border-radius: 10px;
  }
  main
    .proyects
    .contenedor-principal
    .contenedor-carrusel
    .container-proyect
    .left:hover {
    z-index: 100;
    transform: scale(1.1);
    transform-origin: center;
    transition: 1s;
  }
  main
    .proyects
    .contenedor-principal
    .contenedor-carrusel
    .container-proyect
    .proyecto
    img {
    border-radius: 10px;
  }
  main
    .proyects
    .contenedor-principal
    .contenedor-carrusel
    .container-proyect
    .proyecto
    .info-proyecto {
    border-radius: 0 0 10px 10px;
  }
  main .form form .container-input {
    flex-direction: column;
  }
  main .form form .container-input .container-small, main .form form .container-input .container-small input  {
    width: 100%;
  }
  main .form form .container-btn-form button {
    min-width: 150px;
  }
  main .services .container-services .gral .icon i {
    font-size: 40px;
  }
}
@media (max-width: 550px) {
  main .banner .container-banner p {
    font-size: 28px;
  }
  main .banner .container-banner p span {
    font-size: 24px;
  }
  main .banner .container-banner p:nth-child(3) {
    font-size: 20px;
  }
  main .info .container-info p:nth-child(2) {
    font-size: 30px;
  }
  main .info .container-info p:nth-child(3) {
    font-size: 19px;
  }
  main .info .container-info p:nth-child(4) {
    font-size: 16px;
  }
  main .services .container-services .gral h4 {
    font-size: 15px;
  }
  main .container-skill .container-hab .skill {
    font-size: 14px;
  }
}
