* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color;
  background-color: #e7e7e7;
}
body.isDark {
  background-color: #2b2b2b;
  color: #ffffff;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color;
}

:root {
  --color-esp: #f072e9;
  --fondo-section: rgba(160, 158, 158, 0.26);
}

.close,
.hamb {
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.link {
  @apply pl-4 text-white no-underline uppercase hover:duration-300 hover:transition hover:text-customPink;
}

.linkContact {
  @apply mx-2 text-lg no-underline;
}

.banner::before {
  content: "";
  background: rgba(37, 37, 37, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

main .banner .container-banner span p {
  font-size: 38px;
  word-spacing: 10px;
  margin: 30px 0 50px 0;
  min-height: 20vh;
}
main .banner .container-banner span p i {
  color: var(--color-esp);
}
main .banner .container-banner .typed-cursor {
  display: none;
}
main .banner .container-banner p:nth-child(3) {
  word-spacing: 5px;
  font-size: 22px;
  margin-bottom: 65px;
}

.contGral {
  @apply md:w-[30%] w-5/6 h-full min-h-[355px] my-4 mx-auto rounded-lg flex flex-col items-center transition duration-300;
}

.icon {
  @apply mt-6 text-3xl text-neutral-400;
}
.contGral:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.712);
}

main .habilidades {
  background-size: cover !important;
  background: linear-gradient(rgba(165, 47, 159, 0.664), rgba(24, 12, 12, 0.8)),
    url(../public/file/fondohab.jpg);
}

.progreso1,
.progreso2,
.progreso3,
.progreso4 {
  background: white;
  height: 5px;
}

.progreso3 {
  width: 85%;
}
.progreso1 {
  width: 90%;
  animation: progreso1 2s forwards;
}
.progreso2 {
  width: 80%;
  animation: progreso2 2s forwards;
}
.progreso3 {
  animation: progreso3 2s forwards;
}
.progreso4 {
  width: 75%;
  animation: progreso4 2s forwards;
}
/*-----------Animaciones----------*/
@keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes progreso4 {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto {
  transition: 1s ease all;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto:hover {
  transform: scale(1.1);
  transition: 1s;
}

main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto
  img {
  filter: grayscale(1);
  transition: 0.5s;
  vertical-align: top;
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto:hover
  img {
  filter: grayscale(0);
}
main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto
  .info-proyecto {
  bottom: -40px;
  transition: 0.5s;
}

main
  .proyects
  .contenedor-principal
  .contenedor-carrusel
  .container-proyect
  .proyecto:hover
  .info-proyecto {
  opacity: 1;
  bottom: 0px;
  border-radius: 0 0 8px 8px;
}

.cont-input {
  @apply relative w-full;
}
.label {
  @apply absolute text-sm font-normal pointer-events-none md:text-base left-4 text-neutral-300;
}
.labelNoDark {
  @apply absolute text-sm font-normal pointer-events-none md:text-base left-4 text-neutral-700;
}
.input {
  @apply w-full p-2 mt-1 text-white bg-transparent border border-white outline-none rounded-xl;
}
.inputNoDark {
  @apply w-full p-2 mt-1 text-black bg-transparent border outline-none border-neutral-500 rounded-xl;
}
.error {
  border: 1px solid red;
}
.errorLabel {
  color: red;
}
.span {
  @apply flex justify-start text-xs sm:my-1 md:text-base min-h-6;
}

.input:focus ~ .label,
.inputNoDark:focus ~ .labelNoDark,
.input:not(:placeholder-shown) ~ .label,
.inputNoDark:not(:placeholder-shown) ~ .labelNoDark {
  top: 4px !important;
  left: 15px;
  font-size: 14px;
  padding: 0 2px;
  background-color: #404040;
}
.inputNoDark:focus ~ .labelNoDark,
.inputNoDark:not(:placeholder-shown) ~ .labelNoDark {
  top: 4px !important;
  left: 15px;
  font-size: 14px;
  padding: 0 2px;
  color: #404040;
  background-color: #d4d4d4;
}
.truncate-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.2rem;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}
.modal-exit {
  opacity: 1;
  transform: scale(1);
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 50%;
  min-height: 28vh;
  background-color: #2b2b2b;
  position: relative;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .hamb,
  .close {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 17px;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  nav a > span {
    width: 6px;
    height: 6px;
    margin-left: 8px;
    border-radius: 10px;
    background: white;
    display: inline-block;
  }
  header .hamb {
    position: relative;
    right: 10px;
    order: 1 !important;
  }

  header nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: initial !important;
    background-color: #383838;
    transition: 0.6s;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 300;
    padding: 70px 20px 0 20px;
    transform: translateX(100%);
    visibility: hidden;
    gap: 50px;
  }

  nav.visible {
    transform: translateX(0);
    visibility: visible;

    transition: 0.6s;
    width: 50%;
    align-items: end;
  }
  header nav a {
    text-transform: capitalize;
  }
}
@media (max-width: 640px) {
  main
    .proyects
    .contenedor-principal
    .contenedor-carrusel
    .container-proyect
    .proyecto:hover {
    transform: scale(1);
    transition: 1s;
  }
  main .banner .container-banner p {
    font-size: 28px;
  }
  main .banner .container-banner p span {
    font-size: 24px;
  }
  main .banner .container-banner p:nth-child(3) {
    font-size: 20px;
  }
  main .info .container-info p:nth-child(2) {
    font-size: 30px;
  }
  main .info .container-info p:nth-child(3) {
    font-size: 19px;
  }
  main .info .container-info p:nth-child(4) {
    font-size: 16px;
  }
  main .services .container-services .gral h4 {
    font-size: 15px;
  }
  main .container-skill .container-hab .skill {
    font-size: 14px;
  }
}
